@charset "UTF-8";
.main-class {
	display : flex;
	justify-content : center;
}

.form-login {
	margin-bottom: 100px;
	padding : 40px;
	margin-top:100px;
	background-color : white;
}
.login-heading {
	margin-left : 60px;
	margin-bottom : 45px;
}
.submit {
	background-color: black;
	color:white;
	border:none;
	margin-left : 180px;
}
.forgot-password {
	display : block;
	text-decoration:none;
	margin:0px;
	padding:0px;
	color:red;
	padding-bottom:10px;
}