@charset "UTF-8";
.product-outer {
	border-radius:40px;
	display:grid;
	background-color:white;
	font-weight:bold;
	width:900px;
	height:250px;
	grid-template-columns:1fr 1.5fr 1.5fr;
	margin-bottom:100px;
	padding:30px;
}
body {
	font-family:Times New Roman;
}
