<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Kajadh</display-name>
  
   <listener>
        <listener-class>com.KajadhECommerce.Kajadh.SpringContext.Contex</listener-class>
    </listener>
  
  <servlet>
  	<servlet-name>WelcomePage</servlet-name>
  	<servlet-class>com.KajadhECommerce.Kajadh.kajadhApplication</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>WelcomePage</servlet-name>
  	<url-pattern>/kajadh</url-pattern>
  </servlet-mapping>
</web-app>